<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UI Airlines</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UI Airlines", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Search Flight", "SearchFlight", "Flight")</li>
                    <li>@Html.ActionLink("View Booked Flights", "BookedFlight", "Flight")</li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {

                        <li><a style="font-weight: bold;"> <span class="glyphicon glyphicon-user"></span> &nbsp @(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name.Split('|')[0] : "Guest")</a></li>

                        <li><a href=@Url.Action("LogOut", "Account")> &nbsp Logout</a></li>
                    }
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li><a href=@Url.Action("Login","Account")> &nbsp Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    
    @RenderBody()
    <hr />
    <footer>
        <p class="text-center">&copy; @DateTime.Now.Year - UIA Airlines</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
